#logo {
    color: white;
    font-weight: 600;
    font-size: 35px;
}

.fullscreen-window {
    position: relative;
    height: 100%;
    width: 100%;
}

.main-container {
    width: 200%;
    height: 100%;
    display: flex;
    transition: all 0.8s;
}

.step-start {
    transform: translate(0);
}

.step-gridselection {
    transform: translate(-50%);
}

.go-back-btn {
    position: absolute;
    top: calc(50% - 30px);
    left: 30px;
    width: 60px;
    height: 60px;
}