#logo {
    color: white;
    font-weight: 600;
    font-size: 35px;
    transition: all 600ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.fullscreen-window {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-container {
    height: 100%;
    display: flex;
    transition: all 600ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.move-step-btn {
    width: 60px;
    height: 60px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 600ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

    .row {
        margin: 0 -20px;
    }
}

.move-step-container {
    display: none;
    padding: 20px 20px 35px 20px;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    #logo {
        color: black;
    }

    .go-back-btn {
        top: calc(100% - 90px);
        left: 50px;
        width: 60px;
        height: 60px;
    }

    .go-next-btn {
        top: calc(100% - 90px);
        right: 50px;
        width: 60px;
        height: 60px;
    }

    .move-step-container {
        display: flex;

    }
}