.location-grid .room-grid-delimiter {
    position: relative;
    background-color: white;
    color: white;
    border: 3px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.room-grid.location-grid .room-grid-row .room-grid-cell {
    position: relative;
    height: 100%;
    border: 1px dashed darkgray;
}

.ihoover {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
}