.room-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 500px;
}

.room-grid-y-label {
    margin-bottom: 5px;
}

.room-grid-x-label {
    position: absolute;
    left: -50px;
    top: calc(50% - 13px);
}

.room-grid-delimiter {
    position: relative;
    border: 3px black solid;
}

.room-grid .room-grid-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.room-grid .room-grid-row .room-grid-cell {
    height: 100%;
    border: 1px darkgray dashed;
}

.btn-grid-size, .btn-grid-size:hover, .btn-grid-size:active, .btn-grid-size:focus, .btn-grid-size:active:focus {
    background-color: white;
    color: black;
}