html, body, #root {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *:focus, *:active, *:hover, *:active:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}