#step-start {
    .vacuum-background {
        background-image: url("../../../../assets/images/configuration-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .username {
        color: #a59689 !important;
    }
}

@media screen and (max-width: 767px) {
    #step-start {
        .vacuum-background {
            background-position: bottom;
        }
    }
}